<section class = "fondo">
    <div class="cal">
      <label class="text">Formula: Volumen de un cilindro</label><br>
      <label class="text">Nombre: Sergio Jimenez Cano</label><br>
      <label class="text">Matricula: s19004857</label><br>
      <div class="cinterno">
        <label class="text2"> Un cilindro es un sólido, limitado por la superficie cilíndrica y dos planos paralelos (las bases), que la crucen. Un cilindro se llama circular, si su base es un círculo. La distancia entre las bases es la altura del cilindro.</label><br>
        <img class = "imagen" src = "http://es.onlinemschool.com/pictures/volume/cylinder.png">
        <label class="text3">V = π*R²*h</label><br>
      </div>
      <div class="cinterno2">
        <label class="text4">V = volumen del cilindro</label><br>
        <label class="text4">π = 3.141592</label><br>
        <label class="text4">R = radio de la cilindro</label><br>
        <label class="text4">h = longitud de la altura de la cilindro</label><br>
      </div>
      <button class = "boton" routerLink='/formula'>Calcular</button>
    </div>
  
  </section>